.header {
    font-weight: bold;
    font-size: 5em;
    text-align: center;
}

h1 {
    font-size: 4em;
    margin-block-end: 0.20em;
}

body {
    background: teal;
}

.blocks {
    margin: 100px;
}

.block {
    text-align: center;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    border: solid cyan 2px;
    padding: 10px;
    width: 150px;
    height: 150px;
    float: left;
    margin: 10px;
}

.blocks div {
    height: 200px;
    width: 200px;
    border: solid cyan 5px;
    float: left;
    margin: 20px;
    background: azure;
    text-align: center;
}

a {
    text-decoration: none;
}

.highlight {
    transform: scale(1.2);
}